@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'M PLUS 1 Code', 'Source Code Pro', monospace, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  height: 100vh;
}

body {
  margin: 0;
  background: black;
  color: #ddd8e4;
}

#main-header {
  position: sticky;
  top: 1rem;
  left: 5%;
  z-index: 1000;
  background-color: black;
  opacity: 90%;
  border: 1px solid white;
  border-radius: 10px;
  display: inline-block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-menu a {
  font-size: 1rem;
}

main {
  margin: 3rem auto;
  width: 90%;
}

h1 {
  margin: 0;
}

/* ***********************

INFO: logo styles...

#main-header #logo a {
  color: #e1e1d7;
  text-decoration: none;
  font-size: 2rem;
} 

#logo {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  border-radius: 8px;
  border: #ffffff76 1px solid;
  box-shadow: 5px 3px 5px #ffffff76;
  background: linear-gradient(
    120deg,
    #9c824a,
    #063672,
    #ef0107,
    #db0007,
    #063672,
    #9c824a
  );
  padding: 10px;
}

*********************** */
