@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: black;
  color: #ddd8e4;
}

#main-header {
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
  background-color: black;
  border-bottom: 2px solid #ffffff76;
}

#main-header #logo a {
  color: #e1e1d7;
  text-decoration: none;
  font-size: 2rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-menu a {
  font-size: 1.5rem;
}

#logo {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  border-radius: 8px;
  border: #ffffff76 1px solid;
  box-shadow: 5px 3px 5px #ffffff76;
  background: linear-gradient(
    120deg,
    #9c824a,
    #063672,
    #ef0107,
    #db0007,
    #063672,
    #9c824a
  );
  padding: 10px;
}

h1 {
  font-size: 3rem;
  margin: 3rem auto;
  color: #ede9f3;
  font-family: 'Poppins', sans-serif;
}

.color-card-text {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.home {
  margin: 3rem auto;
  width: 70%;
  padding-bottom: 3rem;
}
